{
    "swagger": "2.0",
    "info": {
        "version": "1.0.0",
        "title": "Tictactrip Justifier",
        "description": "API that lets user justify 80 000 words of text a day."
    },
    "host": "femaury.dev",
    "basePath": "/api",
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "Bearer": {
            "type": "apiKey",
            "in": "header",
            "name": "Authorization"
        }
    },
    "paths": {
        "/token": {
            "post": {
                "summary": "Sends back a token on email authentication",
                "security": [],
                "parameters": [
                    {
                        "name": "email",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "email": {
                                    "description": "Email to use to receive token.",
                                    "type": "string"
                                }
                            },
                            "example": {
                                "email": "example@email.com"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "example": {
                                "token": "xxx"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "schema": {
                            "type": "object",
                            "example": {
                                "status": "Bad request",
                                "message": "The 'email' field must be a valid e-mail. Expected: undefined"
                            }
                        }
                    }
                }
            }
        },
        "/justify": {
            "post": {
                "summary": "Justifies the text sent in the request body",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "text",
                        "in": "body",
                        "schema": {
                            "type": "string",
                            "example": "The text you want to justify..."
                        }
                    }
                ],
                "produces": [
                    "text/plain"
                ],
                "consumes": [
                    "text/plain"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string",
                            "example": "Your justified text..."
                        }
                    },
                    "401": {
                        "description": "Invalid access token.",
                        "schema": {
                            "type": "object",
                            "example": {
                                "status": "Unauthorized",
                                "message": "Invalid access token"
                            }
                        }
                    },
                    "402": {
                        "description": "Payment required. Maximum limit of 80 000 words per day.",
                        "schema": {
                            "type": "object",
                            "example": {
                                "status": "Payment Required",
                                "message": "You have exceeded the free limit of 80 000 words per day."
                            }
                        }
                    }
                }
            }
        }
    }
}